In [1]:
# Import our dependencies
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
# Read in our dataset
hr_df = pd.read_csv("hr_dataset.csv")
hr_df.head()

   Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0                0.30             1         253               2
1                0.25             1         200               0
2                0.90             4        2880               5
3                0.65             3        1450               3
4                0.50             2         785               2

In [3]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [4]:
# Fit the StandardScaler
scaler.fit(hr_df)

StandardScaler()

In [5]:
# Create a DataFrame with the scaled data
transformed_scaled_data = pd.DataFrame(scaled_data, columns=hr_df.columns)
transformed_scaled_data.head()

NameError: name 'scaled_data' is not defined